@tailwind base;
@tailwind components;
@tailwind utilities;

.action-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65px;
    font-size: 20px;
  }
  .tableexpense{
    overflow:scroll !important;

  }